@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
    font-family: 'sf-apple';
    src: url('/fonts/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'sf-apple';
    src: url('/fonts/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'sf-apple';
    src: url('/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'sf-apple';
    src: url('/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sf-apple';
    src: url('/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'sf-apple';
    src: url('/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'sf-apple';
    src: url('/fonts/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'sf-apple';
    src: url('/fonts/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'sf-apple';
    src: url('/fonts/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(34,34,34);
    --foreground: #ededed;
  }
}

* {
    font-family: 'sf-apple', sans-serif;
    font-weight: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
}
